.Navbar_Section {
  height: 300px;
  background: url(../../Images/bg-10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  .Profile_Pic {
    background: $transparent;
    backdrop-filter: blur(8px);
    border-radius: 0.45rem !important;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $White;
    font-size: 1.3em;
  }

  .name {
    display: block;
    color: $White;
    font-size: 0.7em;
  }
  .nav_btn {
    .btn_style {
      font-size: 0.8em;
      text-transform: none !important;
      color: $White;
    }
    .MuiButton-label {
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
    }
    .MuiButton-root:hover {
      background-color: $transparent !important;
    }
    .active_nav_btn {
      background: $btn_transparent;
    }
  }

  .btn_style_Action {
    font-size: 0.8em;
    text-transform: none !important;
    .MuiButton-label {
      padding-right: 1rem !important;
      padding-left: 1rem !important;
    }
  }
  .btn_reports {
    .btn_style_Reports {
      background: $btn_transparent;
      font-size: 0.8em;
      text-transform: none !important;
      color: $White;
    }
    .MuiButton-label {
      padding-right: 1rem !important;
      padding-left: 1rem !important;
    }
    .MuiButton-root:hover {
      background-color: $transparent !important;
    }
  }
  .list {
    font-size: 0.7em;
    margin: 0 !important;
    padding-left: 1.3rem !important;
    color: $breadcrumb;
  }
  .Mobile_Menu {
    position: absolute;
    bottom: 1rem !important;
    width: 100%;
    top: 73px;

    .Menu_div {
      z-index: 50;
      background: rgb(255 255 255 / 20%);
      backdrop-filter: blur(5px);
      width: 100%;
      position: relative;
    }
  }
  .open_menu {
    max-height: 300px !important;
    transition: max-height 2s;
    overflow: hidden;
    transition-delay: 0;
  }

  .close_menu {
    max-height: 0 !important;
    transition: max-height 1s;
    transition-delay: 0;
    overflow: hidden;
  }
}
