.Panel {
  position: relative;
  bottom: 4.5rem;
  .heaer_text {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    padding-top: 1rem !important;
    font-weight: 600 !important;
  }
  .border_r {
    border-right: 1px solid $border;
  }
  .mb_panel {
    position: relative;
    bottom: 17px;
  }
  .Menu_item {
    position: relative;
    cursor: pointer;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.25rem !important;
  }
  .Menu_item_active {
    background-color: $menu_item;
  }
  .Menu_item:hover {
    background-color: $menu_item_hover;
    .triangle {
      border-left: 15px solid $menu_item_hover;
    }
  }
  .triangle {
    position: absolute;
    border-top: 10px solid transparent;
    border-left: 15px solid $menu_item;
    border-bottom: 10px solid transparent;
    right: -15px;
    top: 17px;
  }
  .Next_Step {
    background-color: $Next_Step !important;
    margin-right: 110px;
  }
}
