html,
body,
#root {
  height: 100%;
}
body {
  background-color: $background_color !important;
}
.text_transparent {
  color: $transparent;
}
.icon_transparent {
  color: $ic_transparent;
}
.icon_transparent:hover {
  color: $White;
}
.fs-07em {
  font-size: 0.7em;
}
.fs-15em {
  font-size: 1.5em;
}
.fs-09em {
  font-size: 0.9em;
}
.fs-13em {
  font-size: 1.3em;
}
.text_bold {
  font-weight: 900 !important;
}
.pointer {
  cursor: pointer !important;
}
.hr_border {
  color: $hr !important;
}
.fw_600 {
  font-weight: 600 !important;
}
.overflow_x_h {
  overflow-x: hidden;
}
