$background_color: #f3f6f9;
$White: #fff;
$transparent: rgba(255, 255, 255, 0.2);
$ic_transparent: rgb(255 255 255 / 67%);
$btn_transparent: rgba(255, 255, 255, 0.1);
$breadcrumb: #9fa9c1;
$hr: #888a8c;
$border: #e2e2e3;
$menu_item_hover: #d6e5f5;
$menu_item: #e7f0f9;
$Next_Step: #3699ff;
